html{
	font-size : 30px;
}

#div1{
	/* --height : 200px; --*/
	/* --height : 75vh; --*/
	height : 4rem;
	/* --width : 300px; --*/
	/* --width : 100vw; --*/
	width : 6rem;
	background-color : #393a7b;
	/* --margin : 4px; --*/
	/* --margin : 4px 6px; --*/
	/* --margin : 4px 6px 8px 10px; --*/
	/* --margin-top : 10px; --*/
	/* --margin-bottom : 10px; --*/
	margin : auto;
}

#div2{
	/* --height : 100px; --*/
	height : 4rem;
	/* --height : 150px; --*/
	width : 6rem;
	background-color : cyan;
}