#container{
	height : 75vh;
	width : 75vw;
	background-color : lightgrey;
	display : flex;
	/*-- flex-direction : column; --*/
	flex-direction : row;
	/*-- flex-direction : row-reverse; --*/
	/*-- flex-direction : column-reverse; --*/
}

#container div{
	height : 200px;
	width : 200px ;
}

#div1{
	background-color : cyan;
	order : 1;
}

#div2{
	background-color : red;
	order : 2;
}

#div3{
	background-color : grey;
	order : 3;
}

#div4{
	background-color : maroon;
	order : 4;
}
